.theme-blue {
  --pipelines-border: #bfdbfe;
  --pipelines-text: #1e3a8a;
  --pipelines-primary-bg: #3b82f6;
  --pipelines-primary-text: #ffffff;

  --pill-bg: #dbeafe;
  --pill-text: #1e40af;

  --table-border: #93c5fd;
  --table-header-bg: #cfe9ff;
  --table-header-text: #1e40af;
  --table-row-bg: #f7faff;
  --table-row-text: #1f2937;
  --table-row-inactive-bg: #f5f5f5;

  --toggle-bg-on: var(--pipelines-primary-bg);
  --toggle-bg-off: var(--pill-bg);
  --toggle-fg: var(--pipelines-primary-text);
}

.theme-green {
  --pipelines-border: #bbf7d0;
  --pipelines-text: #065f46;
  --pipelines-primary-bg: #10b981;
  --pipelines-primary-text: #ffffff;

  --pill-bg: #d1fae5;
  --pill-text: #065f46;

  --table-border: #6ee7b7;
  --table-header-bg: #cfffd5;
  --table-header-text: #065f46;
  --table-row-bg: #f8fdfa;
  --table-row-text: #1f2937;
  --table-row-inactive-bg: #f5f5f5;

  --toggle-bg-on: var(--pipelines-primary-bg);
  --toggle-bg-off: var(--pill-bg);
  --toggle-fg: var(--pipelines-primary-text);
}
